
<p>
  The 24-year-old defenceman, a Cree from Ochapowace Nation in Saskatchewan, will no longer be suiting up for the Edmonton Oilers.

That’s because the National Hockey League squad traded Bear this past week to the Carolina Hurricanes in exchange for forward Warren Foegele.

“I’m really excited for this fresh start,” Bear said in his Hurricanes’ introductory press conference. “I’m excited. I want to work hard. And honestly just prove myself again.”

The Oilers had selected Bear in the fifth round, 124th over-all, in the 2015 NHL Entry Draft. He had spent his entire pro career with the Edmonton organization.

Before turning pro, Bear spent four seasons with the same junior franchise, the Seattle Thunderbirds of the Western Hockey League.

He had never been traded before last week’s deal. 

“This is the first time I’ve experienced this,” Bear said of the trade. “Honestly, it’s been a pretty crazy couple of days.”

Bear was a popular member of the Oilers’ roster. And he’s considered a role model for Indigenous youth across North America for making it to the NHL.

Though his First Nation is in Saskatchewan, he was still considered a local product in Edmonton since he was playing in Alberta, another western Canadian province.
</p>

<p>
  The 24-year-old defenceman, a Cree from Ochapowace Nation in Saskatchewan, will no longer be suiting up for the Edmonton Oilers.

That’s because the National Hockey League squad traded Bear this past week to the Carolina Hurricanes in exchange for forward Warren Foegele.

“I’m really excited for this fresh start,” Bear said in his Hurricanes’ introductory press conference. “I’m excited. I want to work hard. And honestly just prove myself again.”

The Oilers had selected Bear in the fifth round, 124th over-all, in the 2015 NHL Entry Draft. He had spent his entire pro career with the Edmonton organization.

Before turning pro, Bear spent four seasons with the same junior franchise, the Seattle Thunderbirds of the Western Hockey League.

He had never been traded before last week’s deal. 

“This is the first time I’ve experienced this,” Bear said of the trade. “Honestly, it’s been a pretty crazy couple of days.”

Bear was a popular member of the Oilers’ roster. And he’s considered a role model for Indigenous youth across North America for making it to the NHL.

Though his First Nation is in Saskatchewan, he was still considered a local product in Edmonton since he was playing in Alberta, another western Canadian province.
</p>

<p>
  The 24-year-old defenceman, a Cree from Ochapowace Nation in Saskatchewan, will no longer be suiting up for the Edmonton Oilers.

That’s because the National Hockey League squad traded Bear this past week to the Carolina Hurricanes in exchange for forward Warren Foegele.

“I’m really excited for this fresh start,” Bear said in his Hurricanes’ introductory press conference. “I’m excited. I want to work hard. And honestly just prove myself again.”

The Oilers had selected Bear in the fifth round, 124th over-all, in the 2015 NHL Entry Draft. He had spent his entire pro career with the Edmonton organization.

Before turning pro, Bear spent four seasons with the same junior franchise, the Seattle Thunderbirds of the Western Hockey League.

He had never been traded before last week’s deal. 

“This is the first time I’ve experienced this,” Bear said of the trade. “Honestly, it’s been a pretty crazy couple of days.”

Bear was a popular member of the Oilers’ roster. And he’s considered a role model for Indigenous youth across North America for making it to the NHL.

Though his First Nation is in Saskatchewan, he was still considered a local product in Edmonton since he was playing in Alberta, another western Canadian province.
</p>
{{ _previousScrollPosition | json }}
<button (click)="onOpenDialog()">Click Me</button>

<p>
  The 24-year-old defenceman, a Cree from Ochapowace Nation in Saskatchewan, will no longer be suiting up for the Edmonton Oilers.

That’s because the National Hockey League squad traded Bear this past week to the Carolina Hurricanes in exchange for forward Warren Foegele.

“I’m really excited for this fresh start,” Bear said in his Hurricanes’ introductory press conference. “I’m excited. I want to work hard. And honestly just prove myself again.”

The Oilers had selected Bear in the fifth round, 124th over-all, in the 2015 NHL Entry Draft. He had spent his entire pro career with the Edmonton organization.

Before turning pro, Bear spent four seasons with the same junior franchise, the Seattle Thunderbirds of the Western Hockey League.

He had never been traded before last week’s deal. 

“This is the first time I’ve experienced this,” Bear said of the trade. “Honestly, it’s been a pretty crazy couple of days.”

Bear was a popular member of the Oilers’ roster. And he’s considered a role model for Indigenous youth across North America for making it to the NHL.

Though his First Nation is in Saskatchewan, he was still considered a local product in Edmonton since he was playing in Alberta, another western Canadian province.
</p>

<p>
  The 24-year-old defenceman, a Cree from Ochapowace Nation in Saskatchewan, will no longer be suiting up for the Edmonton Oilers.

That’s because the National Hockey League squad traded Bear this past week to the Carolina Hurricanes in exchange for forward Warren Foegele.

“I’m really excited for this fresh start,” Bear said in his Hurricanes’ introductory press conference. “I’m excited. I want to work hard. And honestly just prove myself again.”

The Oilers had selected Bear in the fifth round, 124th over-all, in the 2015 NHL Entry Draft. He had spent his entire pro career with the Edmonton organization.

Before turning pro, Bear spent four seasons with the same junior franchise, the Seattle Thunderbirds of the Western Hockey League.

He had never been traded before last week’s deal. 

“This is the first time I’ve experienced this,” Bear said of the trade. “Honestly, it’s been a pretty crazy couple of days.”

Bear was a popular member of the Oilers’ roster. And he’s considered a role model for Indigenous youth across North America for making it to the NHL.

Though his First Nation is in Saskatchewan, he was still considered a local product in Edmonton since he was playing in Alberta, another western Canadian province.
</p>

<p>
  The 24-year-old defenceman, a Cree from Ochapowace Nation in Saskatchewan, will no longer be suiting up for the Edmonton Oilers.

That’s because the National Hockey League squad traded Bear this past week to the Carolina Hurricanes in exchange for forward Warren Foegele.

“I’m really excited for this fresh start,” Bear said in his Hurricanes’ introductory press conference. “I’m excited. I want to work hard. And honestly just prove myself again.”

The Oilers had selected Bear in the fifth round, 124th over-all, in the 2015 NHL Entry Draft. He had spent his entire pro career with the Edmonton organization.

Before turning pro, Bear spent four seasons with the same junior franchise, the Seattle Thunderbirds of the Western Hockey League.

He had never been traded before last week’s deal. 

“This is the first time I’ve experienced this,” Bear said of the trade. “Honestly, it’s been a pretty crazy couple of days.”

Bear was a popular member of the Oilers’ roster. And he’s considered a role model for Indigenous youth across North America for making it to the NHL.

Though his First Nation is in Saskatchewan, he was still considered a local product in Edmonton since he was playing in Alberta, another western Canadian province.
</p>

<p>
  The 24-year-old defenceman, a Cree from Ochapowace Nation in Saskatchewan, will no longer be suiting up for the Edmonton Oilers.

That’s because the National Hockey League squad traded Bear this past week to the Carolina Hurricanes in exchange for forward Warren Foegele.

“I’m really excited for this fresh start,” Bear said in his Hurricanes’ introductory press conference. “I’m excited. I want to work hard. And honestly just prove myself again.”

The Oilers had selected Bear in the fifth round, 124th over-all, in the 2015 NHL Entry Draft. He had spent his entire pro career with the Edmonton organization.

Before turning pro, Bear spent four seasons with the same junior franchise, the Seattle Thunderbirds of the Western Hockey League.

He had never been traded before last week’s deal. 

“This is the first time I’ve experienced this,” Bear said of the trade. “Honestly, it’s been a pretty crazy couple of days.”

Bear was a popular member of the Oilers’ roster. And he’s considered a role model for Indigenous youth across North America for making it to the NHL.

Though his First Nation is in Saskatchewan, he was still considered a local product in Edmonton since he was playing in Alberta, another western Canadian province.
</p>