<div class="overlay-container">
  <div class="overlay-backdrop overlay-dark-backdrop overlay-backdrop-showing">
  </div>
  <div class="global-overlay-wrapper" style="justify-content: center; align-items: center;">
    <div id="cdk-overlay-0" class="overlay-pane" style="max-width: 80vw; position: static;">
      <div tabindex="-1" aria-modal="true" class="mat-dialog-container ng-tns-c40-0 ng-trigger ng-trigger-dialogContainer ng-star-inserted" id="mat-dialog-0" role="dialog" style="transform: none;">
        <app-test-component></app-test-component>
      </div>
    </div>
  </div>
</div>